* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #e0e3ce;
}

/* main */
main {
  min-height: 90vh;
}
table,
th,
td {
  text-align: left;
  padding: 4px;
  border-spacing: 10px;
  width: max-content;
}
td {
  width: min-content;
}
.order td {
  border-bottom: 1px solid grey;
}

.measurement {
  background-color: #e0e3ce;
  width: min-content;
  padding: 20px 40px 40px 40px;
  position: relative;
  margin: 30px 40px 40px 40px;
  color: #2b300d;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px #2b300d;
}
.measurement-details {
  display: flex;
  justify-content: space-evenly;
}
.order {
  background-color: #e0e3ce;
  width: fit-content;
  padding: 20px 40px 40px 40px;
  margin: 30px 40px 40px 40px;
  color: #2b300d;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px #2b300d;
}
.details {
  background-color: #e0e3ce;
  width: min-content;
  padding: 20px 40px 40px 40px;
  margin: 30px 40px 40px 40px;
  position: relative;
  color: #2b300d;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px #2b300d;
  text-align: left;
}
.details-both {
  display: flex;
}
.details-edit input,
.gender {
  text-align: left;
  border: 1px solid grey;
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  color: #2b300d;
  background-color: #e2e2e2;
  margin-top: 10px;
  width: 250px;
}
.details-edit {
  margin-top: 47.5px;
}
.gender {
  height: 37.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  accent-color: #2b300d;
}
.gender input {
  padding: 0%;
  margin: 0%;
  height: 10px;
  width: 20px;
}

.details input::placeholder {
  font-size: 14px;
  color: #7e876d;
}

.details td,
.measure-pants td,
.measure-shirts td {
  font-size: 14px;
  border-radius: 10px;
  padding: 4px 12px 4px 12px;
  background-color: #e2e2e2;
  box-shadow: 0px 0px 1px 0px #2b300d;
  line-height: 30px;
}
.details th,
.measure-pants th,
.measure-shirts th {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}

.main-info h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.measurement h4 {
  font-size: 19px;
}

.edit-icon {
  text-align: right;
  position: absolute;
  top: 20px;
  right: 40px;
}
.edit-icon button {
  transition: 0.3s;
  border: none;
  background-color: #2b300d;
  color: #e0e3ce;
  padding: 10px 12px 10px 12px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}
.edit-icon button:hover {
  opacity: 0.7;
}
.container span {
  font-size: 16px;
}
.Credential input {
  font-size: 14px;
  padding: 2px;
  margin: 4px;
}
.button a {
  font-size: 16px;
}

.main-nav {
  width: 100%;
  box-shadow: 0 0 6px 0px #2b300d;
}
.nav-items {
  display: flex;
  width: 40%;
  height: 50px;
  position: relative;
  left: 0;
  align-items: center;
  justify-content: space-evenly;
}
.nav-items p {
  border: none;
  color: #2b300d;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  font-size: 16px;
}
.nav-items p:hover {
  border-bottom: 2px solid #2b300d;
}

.measurement-edit {
  display: flex;
  /* background-color: rgb(179, 162, 162); */
  justify-content: space-evenly;
  font-size: 100px;
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 10px;
}

.measurement input {
  text-align: left;
  border: 1px solid grey;
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  color: #2b300d;
  background-color: #e2e2e2;
  width: 100px;
}

input::placeholder {
  font-size: 14px;
  color: #7e876d;
}
.shirt li,
.pant li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.measureimg {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shirt,
.pant {
  margin: 20px;
}
