* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;
  background-color: #e0e3ce;
}


/* main */
main {
  min-height: 87vh;
}
table,
th,
td {
  border: 1px solid #2b300d;
  border-collapse: collapse;
  text-align: center;
  padding: 8px;
  margin: 0 auto;
}
td {
  width: min-content;
}
h3 {
  text-align: center;
}
.measure,
.order,
.details {
  margin: auto;
  background-color: #7e876d;
  width: fit-content;
  padding: 20px 40px 40px 40px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #2b300d;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 20px solid #2b300d;
  /* border-right:  20px solid #2b300d; */
  box-shadow: 0px 0px 12px 2px #2b300d;
  box-sizing: border-box;
}
.measure h4 {
  font-size: 19px;
}

.edit {
  text-align: center;
  margin-top: 40px;
  position: relative;
}
.edit button {
  transition: 0.3s;
  font-weight: bold;
  border: none;
  background-color: #2b300d;
  color: #e0e3ce;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
}
.edit button:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}
.buttons {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
}
.button button {
  font-weight: bold;
  border: none;
  background-color: #2b300d;
  color: #e0e3ce;
  padding: 15px 30px 15px 30px;
  margin: 30px 10px 30px 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;
  width: 200px;
  transition: 0.3s;
}

.button button:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}

