* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;
  background-color: #e0e3ce;
}
.logo {
  margin-left: 20px;
  margin-top: 4px;
  transition: 0.3s;

}
.list {
  overflow: auto;
  padding: 1px;

}
.list li {
  list-style: none;
  display: inline-block;
  
}
.list li a {
  transition: 0.3s;
  font-size: 20px;
  margin-right: 25px;
  color: #2b300d;
  font-weight: bold;
}
.navbar {
  padding-left: 15px;
  padding-right: 35px;
  background-color: #7e876d;
  /* border-radius: 50px; */
  /* margin: 10px; */
  
  border-bottom: 8px solid #2b300d;
  box-sizing: border-box;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signout {
  color: #7e876d;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: #2b300d;
  color: #e0e3ce;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.signout:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}
.list li a:hover {
  /* color: #e0e3ce; */
  opacity: 0.7;
}
.logo:hover {
  opacity: 0.5;
}
.list .home a {
  color: #e0e3ce;
}
.list .home a:hover {
  color: #2b300d;
}

/* footer */
footer {
  min-height: 20vh;
  margin: 0px 0px 0px 0px;
  background-color: #7e876d;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  color: #2b300d;
  line-height: 20px;
  align-items: center;
  text-align: center;
  
  border-top: 8px solid #2b300d;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: center;
}
.contact,
.business {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
}
.footer li {
  list-style: none;
  width: fit-content;
}

.Copyright {
  padding: -5px;
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: lighter;
}
a {
  color: #2b300d;
}
.fa-solid {
  font-size: small;
  color: #e0e3ce;
}
h3 {
  text-transform: uppercase;
}
.welcomeimg {
  margin: 0px 0px -5px 0px;
  padding: 0%;
}

.flogo .fimg {
  margin: auto;
}
.flogo {
  margin-top: auto;
  margin-bottom: auto;
}

