* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;
  background-color: #e0e3ce;
}



/* main */
/* .homebutton {
  position: absolute;
  top: 300px;
  right: 100px;
} */
.homebutton input {
  width: 150px;
  padding: 15px;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: 20px;
  background-color: #2b300d;
  color: #e0e3ce;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.homebutton input:hover {
  box-shadow: 0px 0px 0px 1px #7e876d;
  opacity: 0.7;
}

.quote {
  position: absolute;
  right: 143px;
  top: 240px;
  font-size: larger;
  font-weight: bolder;
  width: 287px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #7e876d;   
}
