*{
    text-decoration: none;
}
body{
    background-color:#42707f;
}
.logo{
    margin-left:20px ;
    margin-top: 4px;
}
.list{
    overflow: auto;
}
.list li{
    list-style: none;
    display: inline-block;
}
.list li a{
    font-size: 20px;
    margin-right: 25px;
    color:#42707f;
    font-weight: bold;
}
.navbar {
    padding-left: 15px;
    padding-right: 35px;
    background-color: #062f3d;
    border-radius: 50px;
    margin: 10px;
  }
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signout{
    color: #062f3d;    
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    border: none;
    background-color: #42707f;
    color: #062f3d;
    font-weight: bold;
    font-size: 15px ;
    cursor: pointer;
}
.signout:hover{
  color: #fff6e5;
}
.list li a:hover{
    color: #fff6e5;
}
.logo:hover {
    opacity: 0.5;
  }
.list .home a{
    color: #fff6e5;
  }
.list .home a:hover{
    color: #42707f;
  }

  /* footer */
  footer{

      margin: 0   ;
      background-color: #062f3d;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      color: #fff6e5;
      line-height: 20px;
      align-items: center;
  }

.footer{
    display: flex;
    justify-content: center;
}
.contact ,.business{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;

}
.footer li{
    list-style: none;
    width: fit-content;

}
hr{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #fff6e5 ;

}
.copyright{
    padding:-5px;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    font-weight: lighter;

}
a{
    color: #fff6e5;
    
}
.fa-solid{
    font-size: small;

}