* {
  text-decoration: none;
}
body {
  margin: auto;
  position: relative;
  background-color: #e0e3ce;
}
.logo {
  margin-left: 20px;
  margin-top: 4px;
  transition: 0.3s;
}
header {
  margin: auto;
  display: block;
  width: 100%;
  position: fixed;
  border-bottom: 8px solid #2b300d;
  box-sizing: border-box;
}
.navbar {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7e876d;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign {
  margin: 15px 20px 15px 5px;
  justify-content: space-between;
}
.b1,
.b2 {
  justify-content: space-between;
  color: #e0e3ce;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
  background-color: #2b300d;
  width: max-content;
  cursor: pointer;

  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}
.b1:hover,
.b2:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}
.logo:hover {
  opacity: 0.5;
}
/* footer */
footer {
  min-height: 20vh;
  margin: 0px 0px 0px 0px;
  background-color: #7e876d;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  color: #2b300d;
  line-height: 20px;
  align-items: center;
  text-align: center;
  border-top: 8px solid #2b300d;
}

.footer {
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact,
.business {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
}
.footer li {
  list-style: none;
  width: fit-content;
}

.Copyright {
  padding: -5px;
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: lighter;
}
a {
  color: #2b300d;
}
.fa-solid {
  font-size: small;
  color: #2b300d;
}
h3 {
  text-transform: uppercase;
}
.welcomeimg {
  margin: 0px 0px -5px 0px;
  padding: 0%;
}

.flogo .fimg {
  margin: auto;
}
.flogo {
  margin-top: auto;
  margin-bottom: auto;
}
.quote {
  position: absolute;
  right: 143px;
  top: 298px;
  font-size: larger;
  font-weight: bolder;
  width: 287px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #7e876d;   
}