* {
    text-decoration: none;
  }
  body {
    margin: 0px 0px 0px 0px;
  
    background-color: #42707f;
  }
  .navdiv {
    text-align: center;
    overflow: auto;
  }
  .navdiv p {
    list-style: none;
    display: inline-block;
  }
  .navdiv p{
    text-align: center;
    font-size: 20px;
    margin-right: 25px;
    color: #42707f;
    font-weight: bold;
  }
  .navbar {
    padding-left: 15px;
    padding-right: 35px;
    background-color: #062f3d;
    /* border-radius: 50px; */
    /* margin: 10px; */
  }
  .pant,.shirt{
      width: 450px;
      display: inline-block;
      justify-content: space-between;
      background-color: #062f3d;
      margin-top: 60px;
      margin-left: 120px;
      height: 480px;
      text-align:right;
      color: #42707f;
    }
    h3{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    li{
        list-style: none;
    }
    input,label{
        position: relative;
      right: 100px;
    margin-top: 15px;
    margin-left: 20px;
  }
  input{
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    width: 70px;
  }