* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;
  background-color: #e0e3ce;
}
.navdiv {
  text-align: center;
  overflow: auto;
}
.navdiv p {
  text-align: center;
  font-size: 20px;
  color: #2b300d;
  font-weight: bold;
}
.navbar {
  background-color: #7e876d;
  border-bottom: 8px solid #2b300d;
  box-sizing: border-box;
}
.order {
  margin: auto;
  margin-top: 40px;
  background-color: #7e876d;
  width: 500px;
  align-content: center;
  position: relative;
  padding: 30px;
  color: #e0e3ce;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top: 20px solid #2b300d;
  box-shadow: 0px 0px 12px 2px #2b300d;
  box-sizing: border-box;
}
h3 {
  text-align: center;
}

.submit {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.submit button {
  font-weight: bold;
  border: none;
  background-color: #2b300d;
  color: #e0e3ce;
  padding: 10px 25px 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;

}
.order button:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}
.date {
  border: none;
  padding: 5px 10px 5px 10px;
  background-color: #e0e3ce;
  border-radius: 30px;
  text-transform: uppercase;
}
