* {
  text-decoration: none;
  box-sizing: border-box;
}
body {
  margin: 0px 0px 0px 0px;

  background-color: #42707f;
}
.logo {
  margin-left: 20px;
  margin-top: 4px;
}
.list {
  overflow: auto;
}
.list li {
  list-style: none;
  display: inline-block;
}
.list li a {
  font-size: 20px;
  margin-right: 25px;
  color: #42707f;
  font-weight: bold;
}
.navbar {
  /* border: 1px solid #fff6e5; */

  padding-left: 15px;
  padding-right: 35px;
  background-color: #062f3d;
  /* border-radius: 50px; */
  /* margin: 10px; */
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signout {
  color: #062f3d;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: #42707f;
  color: #062f3d;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.signout:hover {
  color: #fff6e5;
}
.list li a:hover {
  color: #fff6e5;
}
.logo:hover {
  opacity: 0.5;
}
.list .home a {
  color: #fff6e5;
}
.list .home a:hover {
  color: #42707f;
}

/* footer */
footer {
  box-sizing: border-box;
  /* border: 1px solid #fff6e5; */

  min-height: 20vh;
  margin: 0px 0px 0px 0px;
  background-color: #062f3d;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  color: #42707f;
  line-height: 20px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
}
.contact,
.business {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
}
.footer li {
  list-style: none;
  width: fit-content;
}

.copyright {
  border-top: 1px solid #42707f;
  padding: -5px;
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: lighter;
}
a {
  color: #42707f;
}
.fa-solid {
  font-size: small;
  color: #42707f;
}
h3 {
  text-transform: uppercase;
}
.welcomeimg {
  margin: 0px 0px -5px 0px;
  padding: 0%;
}

/* maim */
main {
  position: relative;
}
.shirt {
  background-color: #062f3d;
  margin: 4px;
  padding: 10px;
  display: inline-block;
  width: 32%;
  /* box-sizing: border-box; */
  width: min-content;
  margin-left: 65px;
  margin-top: 60px;
  /* margin-bottom: 25px; */
  color: #fff6e5;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0px 0px 15px 0px #062f3d;
}
.fabric {
  margin: auto;
}
.shirtimg {
  border-radius: 20px;
}
.placeorder button {
  font-weight: bold;
  padding: 8px 18px;
  border: none;
  outline: none;
  border-radius: 21px;
  background-color: #42707f;
  color: #062f3d;
  cursor: pointer;
  font-size: 15px;
}
.placeorder button:hover {
  color: #fff6e5;
  box-shadow: 0px 0px 5px 0px #42707f;
}
