body {
  background-color: #e0e3ce;
  background-size: cover;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  justify-content: center;
  background-color: #7e876d;
  width: 450px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left:  20px solid #2b300d;
  box-shadow: 0px 0px 12px 2px #2b300d;
  box-sizing: border-box;

}
span {
  color: #2b300d;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}
.Credential {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
}
.button {
  margin: 30px;
}
.Credential button {
  font-weight: bold;
  padding: 15px 50px;
  border: none;
  outline: none;
  border-radius: 60px;
  background-color: #2b300d;
  color: #e0e3ce;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}
.Credential input {
  text-align: left;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 10px;
  margin: 10px;
  background-color: #e0e3ce;
  color: #2b300d;
  letter-spacing: 1px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px;
}
.Credential input::placeholder {
  color: #2b300d;
  font-size: 14px;
}
.Noac a {
  text-decoration: none;
  color: #e0e3ce;
}
.Noac {
  color: #2b300d;
}
.Credential button:hover {
  box-shadow: 0px 0px 0px 1px #2b300d;
  opacity: 0.7;
}
.gender {
  accent-color: #2b300d;
}
