* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;

  background-color: #42707f;
}
.navdiv {
  text-align: center;
  overflow: auto;
  margin-left: 40px;
}
.navdiv p {
  list-style: none;
}
.navdiv p {
  text-align: center;
  font-size: 20px;
  color: #42707f;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 35px;
  background-color: #062f3d;
  align-items: center;
  /* border-radius: 50px; */
  /* margin: 10px; */
}

.button {
  display: flex;
position: relative;
  justify-content: center;
}
.button button {
  text-align: center;
  margin-bottom: 40px;
}
.button button {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  background-color: #062f3d;
  color: #42707f;
  padding: 15px 30px 15px 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 15px;

  width: 250px;
}

.button button:hover {
  color: #fff6e5;
}
.navbar button:hover {
  color: #fff6e5;
}
.navbar button {
  color: #062f3d;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: #42707f;
  color: #062f3d;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
span{
    margin-right: 30px;
}


/* table */
table, th, td {
  border: 1px solid #42707f;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;  
  margin: 0 auto; 
}
.details td{
  width: 120px;
}
.details{
  margin: 30px;
  
  position: relative;
  left: 65px;
  color: #42707f;
  padding: 30px;
  padding-top: 20px;
  width: 80%;
  background-color:#062f3d;
  
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
}
.details h3{
  text-align: center;
  text-transform: uppercase;
}
