* {
  text-decoration: none;
}
body {
  margin: 0px 0px 0px 0px;
  position: relative;
  background-color: #42707f;
}
.logo {
  margin-left: 20px;
  margin-top: 4px;
}
header{
  /* margin: auto;
  display: block;
  width: 100%; */
  position: sticky;
}
.navbar {
  /* border: 1px solid #fff6e5; */
  padding-left: 15px;
  padding-right: 15px;
  background-color: #062f3d;
  /* border-radius: 50px;
  margin: 10px; */
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign {
  margin: 15px 20px 15px 5px;
  justify-content: space-between;
}
.b1,
.b2 {
  justify-content: space-between;
  color: #062f3d;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  border: none;
  background-color: #42707f;
  color: #062f3d;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.b1:hover,
.b2:hover {
  color: #fff6e5;
}
.logo:hover {
  opacity: 0.5;
}
/* footer */
footer {
  min-height: 20vh;
  margin: 0px 0px 0px 0px;
  background-color: #062f3d;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  color: #42707f;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}
.contact,
.business {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  justify-content: center;
}
.footer li {
  list-style: none;
  width: fit-content;
}

.copyright {
  padding: -5px;
  margin: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: lighter;
}
a {
  color: #42707f;
}
.fa-solid {
  font-size: small;
  color: #42707f;
}
h3 {
  text-transform: uppercase;
}
.welcomeimg {
  margin: 0px 0px -5px 0px;
  padding: 0%;
}
